<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageSetup" fire="\QUI\Memberships\Events::onPackageSetup"/>
    <event on="onUserSave" fire="\QUI\Memberships\Events::onUserSave"/>
    <event on="onQuiqqerOrderSuccessful" fire="\QUI\Memberships\Events::onQuiqqerOrderSuccessful" priority="5"/>
    <event on="onQuiqqerProductsFieldDeleteBefore" fire="\QUI\Memberships\Events::onQuiqqerProductsFieldDeleteBefore"/>

    <event on="onQuiqqerContractsCreateFromOrder" fire="\QUI\Memberships\Events::onQuiqqerContractsCreateFromOrder"/>
    <event on="onQuiqqerContractsDelete" fire="\QUI\Memberships\Events::onQuiqqerContractsDelete"/>

    <event on="onQuiqqerVerificationDeleteUnverified" fire="\QUI\Memberships\Events::onQuiqqerVerificationDeleteUnverified"/>
</events>