<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageSetup" fire="\QUI\Memberships\Events::onPackageSetup"/>
    <event on="onUserSave" fire="\QUI\Memberships\Events::onUserSave"/>
    <event on="onQuiqqerOrderSuccessful" fire="\QUI\Memberships\Events::onQuiqqerOrderSuccessful" priority="5"/>
    <event on="onQuiqqerProductsFieldDeleteBefore" fire="\QUI\Memberships\Events::onQuiqqerProductsFieldDeleteBefore"/>

    <event on="onQuiqqerContractCreateFromOrder" fire="\QUI\Memberships\Events::onQuiqqerContractCreateFromOrder"/>
    <event on="onQuiqqerContractCancel" fire="\QUI\Memberships\Events::onQuiqqerContractCancel"/>
    <event on="onQuiqqerContractDelete" fire="\QUI\Memberships\Events::onQuiqqerContractDelete"/>

</events>