<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="memberships">
                <conf name="durationMode">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>day</defaultvalue>
                </conf>
                <conf name="defaultMembershipId">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>

            <section name="membershipusers">
                <conf name="extendMode">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>reset</defaultvalue>
                </conf>
                <conf name="cancelDuration">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>1440</defaultvalue>
                </conf>
                <conf name="sendAutoExtendMail">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="sendManualExtendMail">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="viewDataMode">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>membership</defaultvalue>
                </conf>
            </section>

            <section name="date_formats_short">
                <conf name="??">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="date_formats_long">
                <conf name="??">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="products">
                <conf name="categoryId">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="membershipFieldId">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="membershipFlagFieldId">
                    <type><![CDATA[integer]]></type>
                </conf>
            </section>

        </config>

        <window>
            <title>
                <locale group="quiqqer/memberships" var="settings.menu.title"/>
            </title>

            <params>
                <icon>fa fa-id-card-o</icon>
            </params>

            <categories>
                <category name="settings">
                    <title>
                        <locale group="quiqqer/memberships" var="settings.category.title"/>
                    </title>
                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/memberships" var="settings.membershipusers.title"/>
                        </title>

                        <input conf="memberships.defaultMembershipId" type="text" data-qui="package/quiqqer/memberships/bin/controls/MembershipSelect">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.defaultMembershipId.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.defaultMembershipId.description"/>
                            </description>
                        </input>

                        <select conf="membershipusers.extendMode">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.extendMode.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.extendMode.description"/>
                            </description>
                            <option value="reset">
                                <locale group="quiqqer/memberships" var="settings.extendMode.option.reset"/>
                            </option>
                            <option value="prolong">
                                <locale group="quiqqer/memberships" var="settings.extendMode.option.prolong"/>
                            </option>
                        </select>

                        <select conf="memberships.durationMode">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.durationMode.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.durationMode.description"/>
                            </description>
                            <option value="day">
                                <locale group="quiqqer/memberships" var="settings.durationMode.option.day"/>
                            </option>
                            <option value="exact">
                                <locale group="quiqqer/memberships" var="settings.durationMode.option.exact"/>
                            </option>
                        </select>

                        <input conf="membershipusers.cancelDuration" type="number">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.cancelDuration.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.cancelDuration.description"/>
                            </description>
                        </input>

                        <input conf="membershipusers.sendAutoExtendMail" type="checkbox">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.sendAutoExtendMail.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.sendAutoExtendMail.description"/>
                            </description>
                        </input>

                        <input conf="membershipusers.sendManualExtendMail" type="checkbox">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.sendManualExtendMail.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.sendManualExtendMail.description"/>
                            </description>
                        </input>

                        <select conf="membershipusers.viewDataMode">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.viewDataMode.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.viewDataMode.description"/>
                            </description>
                            <option value="membership">
                                <locale group="quiqqer/memberships" var="settings.viewDataMode.option.membership"/>
                            </option>
                            <option value="product">
                                <locale group="quiqqer/memberships" var="settings.viewDataMode.option.product"/>
                            </option>
                        </select>

                    </settings>

                    <settings title="dateformat" name="dateformat">
                        <title>
                            <locale group="quiqqer/memberships" var="settings.dateformat.title"/>
                        </title>

                        <input conf="date_formats_short" type="text" data-qui="controls/system/AvailableLanguages">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.dateFormatShort.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.dateFormatShort.description"/>
                            </description>
                        </input>

                        <input conf="date_formats_long" type="text" data-qui="controls/system/AvailableLanguages">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.dateFormatLong.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.dateFormatLong.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="products" name="products">
                        <title>
                            <locale group="quiqqer/memberships" var="settings.products.title"/>
                        </title>

                        <input conf="products.categoryId" type="text" data-qui="package/quiqqer/memberships/bin/controls/settings/ProductSettings">
                            <text>
                                <locale group="quiqqer/memberships" var="settings.categoryId.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/memberships" var="settings.categoryId.description"/>
                            </description>
                        </input>
                    </settings>
                </category>

            </categories>
        </window>

    </settings>
</quiqqer>