input[name="quiqqer-memberships-inputduration-count"] {
    float: left;
    margin-right: 5px;
    width: 60px;
}

.quiqqer-memberships-inputduration-period {
    width: calc(100% - 65px) !important;
}