.quiqqer-memberships-membershipsmanager {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-memberships-membershipsmanager-table {
    float: left;
    height: 100% !important;
    width: 100%;
}

.quiqqer-memberships-membershipsmanager-add-input {
    margin-top: 10px;
    width: 100%;
}

.quiqqer-memberships-membershipsmanager-add-groups {
    float: left;
    margin-top: 15px;
}

.quiqqer-memberships-membershipsmanager-add-groups .qui-elements-select {
    margin-top: 5px;
}