.quiqqer-memberships-products-membershipproducts {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-memberships-products-membershipproducts-table {
    float: left;
    height: 100% !important;
    width: 100%;
}