.quiqqer-memberships-membershipusers {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-memberships-membershipusers-table {
    float: left;
    height: 100% !important;
    width: 100%;
}

.quiqqer-memberships-membershipusers-table-status {
    float: left;
    width: 100%;
}

.quiqqer-memberships-membershipusers-table-status-warning {
    color: #ff1228;
}

.quiqqer-memberships-membershipusers-table-status-ok {
    color: black;
}