.quiqqer-memberships-profile-userprofile-info-header {
    margin: 0 0 10px 0;
}

.quiqqer-memberships-profile-userprofile-membership {
    border: 1px #ddd solid;
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

/*****************
 * Header
 *****************/
.quiqqer-memberships-profile-userprofile-membership-header {
    background: #f6f6f6;
    border-bottom: 1px #ddd solid;
    float: left;
    padding: 10px;
    width: 100%;
}

.quiqqer-memberships-profile-userprofile-membership-header-title h3 {
    margin: 0 0 5px 0;
}

.quiqqer-memberships-profile-userprofile-membership-header-info-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.quiqqer-memberships-profile-userprofile-membership-header-info {
    display: inline-block;
}

/*****************
 * Body
 *****************/
.quiqqer-memberships-profile-userprofile-membership-body {
    float: left;
    padding: 10px;
    width: 100%;
}

.quiqqer-memberships-profile-userprofile-membership-body-entry {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-memberships-profile-userprofile-membership-body-entry-label {
    float: left;
    min-width: 200px;
}

.quiqqer-memberships-profile-userprofile-membership-body-entry-value {
    float: left;
}

.quiqqer-memberships-profile-userprofile-status-modifier {
    float: left;
    padding-left: 5px;
}

.quiqqer-memberships-profile-userprofile-status-cancelled {
    color: #ff0000;
}

.quiqqer-memberships-profile-userprofile-status-cancelled_start {
    color: #FFA500;
}

.quiqqer-memberships-profile-userprofile-status-active {
    color: #008000;
}

.quiqqer-memberships-profile-userprofile-btn {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.quiqqer-memberships-profile-userprofile-btn .qui-button {
    float: right;
}

@media (max-width: 768px) {
    .quiqqer-memberships-profile-userprofile-membership-body-entry-label {
        width: 100%;
    }

    .quiqqer-memberships-profile-userprofile-membership-body-entry {
        margin-bottom: 10px;
    }

    .quiqqer-memberships-profile-userprofile-status-modifier {
        padding: 0;
    }

    .quiqqer-memberships-profile-userprofile-btn .qui-button {
        width: 100%;
    }
}
