<!doctype html>
<html>
<head>
    <style>
        p.error {
            border: 2px solid red;
            padding: 20px;
        }

        p.success {
            border: 2px solid green;
            padding: 20px;
        }
    </style>
</head>
<body>
{if $error}
<p class="error">
    {locale group="quiqqer/memberships" value="templates.cancel.confirm.error"
    errorMessage=$errorMessage}
</p>
{else}
<p class="success">
    {locale group="quiqqer/memberships" value="templates.cancel.confirm.success"}
</p>
{/if}
</body>
</html>